.img {
  text-align: center;
  margin: auto;
  display: block;
  width: 50%;
}

.fs-6 {
  font-size: smaller;
}

article {
  min-height: 75vh;
  text-align: justify;
}

.list {
  display: list;
  list-style: disc;
  list-style-position: outside;
  margin-left: 1em;
}

.list-item {
  margin-left: 1em;
}
