@if($accountCreated| async){
<div class="has-background-success-lighter mx-6 mt-4 p-4 success">
  <p class="has-text-centered mb-4">Account has been created successfully.</p>
  <div class="has-text-centered">
    <a routerLink="/accounts/" href="#" class="button has-background-danger"
      >View Accounts</a
    >
    <button
      class="button has-background-black has-text-white ml-4"
      (click)="showForm()"
    >
      Create Another Account
    </button>
  </div>
</div>
} @if(!($accountError | async) && !($accountCreated | async)){
<form action="" [formGroup]="createAccountForm" class="is-fullheight">
  <h1 class="mt-4 column is-12 has-text-centered font-roboto">
    Create Account
  </h1>
  <div class="columns px-6">
    <div class="column">
      <div class="field">
        <label class="label">First Name</label>
        <div class="control">
          <input
            class="input"
            type="text"
            placeholder="Text input"
            formControlName="firstName"
            [readonly]="true"
          />
        </div>
      </div>

      <div class="field">
        <label class="label">Last Name</label>
        <div class="control">
          <input
            class="input"
            type="text"
            placeholder="Text input"
            formControlName="lastName"
            [readonly]="true"
          />
        </div>
      </div>

      <div class="field">
        <label class="label">Date of Birth</label>
        <div class="control">
          <input
            class="input"
            type="text"
            placeholder="Text input"
            formControlName="dob"
            [readonly]="true"
          />
        </div>
      </div>
    </div>
    <div class="column">
      <div class="field">
        <label class="label">Username</label>
        <div class="control has-icons-left has-icons-right">
          <input
            class="input"
            type="text"
            placeholder="Text input"
            formControlName="username"
            [readonly]="true"
          />
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
        </div>
      </div>

      <div class="field">
        <label class="label">Email</label>
        <div class="control has-icons-left">
          <input
            class="input"
            type="email"
            placeholder="Email input"
            formControlName="email"
            [readonly]="true"
          />
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
        </div>
      </div>

      <div class="field">
        <label class="label">Account Type</label>
        <div class="control">
          <div class="select">
            <select formControlName="accountType">
              <option value="checking">Checking</option>
              <option value="savings" selected>Savings</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="columns is-mobile px-6 is-centered">
    <div class="column is-half">
      <button
        class="button has-background-danger"
        (click)="createAccount()"
        style="width: 100%"
      >
        Create Account
      </button>
    </div>
  </div>
  <div class="columns is-mobile px-6 is-centered mt-0">
    <div class="field column is-half mt-0">
      <p class="has-text-centered help">
        By clicking the create account button you agree to the terms and
        conditions.
      </p>
    </div>
  </div>
</form>
} @if($accountError | async){
<div class="is-danger has-text-danger has-text-centered mt-4 success">
  {{ $accountError | async }}
</div>
}
