<div class="columns has-background-black-ter px-6">
  <div class="column is-8">
    <h1 class="font-roboto large-heading extra-margin mb-5">
      Experience the world's<br />
      most advanced<br />
      Digital Banking Available
    </h1>
    <p class="small-heading half-width has-text-white-bis font-oswald mb-5">
      Don't hide your money in the woods! It's safer with us, plus you can watch
      your money grow up to 5% P.a.
    </p>
    <a class="button is-danger font-roboto mb-2"> Create a free account now</a>
  </div>
</div>

<div class="columns px-6">
  <div class="column is-full">
    <h1 class="font-roboto medium-heading mt-6 has-text-centered">
      Open accounts in seconds, 100% free! Zero hidden charge!
    </h1>
  </div>
</div>

<div class="columns px-6">
  <div class="column is-4">
    <article class="message">
      <div class="message-header has-background-danger has-text-black">
        <p class="font-roboto">It's Fast</p>
      </div>
      <div class="message-body">
        Soon as you fill the form and confirm your email, you are all set! You
        can begin to enjoy
        <em>Bank Trapeza's award winning digital experience</em>
      </div>
    </article>
  </div>
  <div class="column">
    <article class="message">
      <div class="message-header has-background-danger has-text-black">
        <p class="font-roboto">It's Free</p>
      </div>
      <div class="message-body">
        Creating an account is 100% free! As long as you meet all
        <a href="">requirements</a>. Please beware of scammers out there.
        <em>Bank Trapeza does not charge a penny to open accounts</em>
      </div>
    </article>
  </div>
  <div class="column">
    <article class="message">
      <div class="message-header has-background-danger has-text-black">
        <p class="font-roboto">Zero Charges</p>
      </div>
      <div class="message-body">
        There are no extra charges! We mean it. You do not have to keep a
        minimum balance for any account type. Please not that overdraft charges
        may apply. Please see the
        <a href="">docs</a>.
      </div>
    </article>
  </div>
</div>

<div class="columns px-6 mt-6 has-background-black">
  <div class="column">
    <p class="menu-label micro-heading font-oswald mb-2">Company</p>
    <ul class="menu-list">
      <li><a>About Bank Trapeza</a></li>
      <li><a>Annual Reports and Financial Docs</a></li>
      <li><a>Careers</a></li>
      <li><a>Corporate Governance Statements</a></li>
      <li><a>Ethics Statement</a></li>
      <li><a>Gender Equality</a></li>
      <li><a>News Room</a></li>
      <li><a>Internal Audit</a></li>
    </ul>
  </div>
  <div class="column">
    <p class="menu-label micro-heading font-oswald mb-2">Legal</p>
    <ul class="menu-list">
      <li><a>Bank Trapeza Legal Documents</a></li>
      <li><a>Privacy Notice</a></li>
      <li><a>Manage cookies</a></li>
      <li><a>Energy Savings Plan</a></li>
    </ul>
  </div>
  <div class="column">
    <p class="menu-label micro-heading font-oswald mb-2">Customer Center</p>
    <ul class="menu-list">
      <li><a>Scam Notice</a></li>
      <li><a>Overdraft Charges</a></li>
      <li><a>Help Center</a></li>
      <li><a>Report an Issue</a></li>
      <li><a>Contact Us</a></li>
      <li><a>Mobile Banking Quick Guide</a></li>
      <li><a>Security and Fraud</a></li>
      <li><a>Social Media Guidelines</a></li>
    </ul>
  </div>
  <div class="column">
    <p class="menu-label micro-heading font-oswald mb-2">Partner with Us</p>
    <ul class="menu-list">
      <li><a>Developers</a></li>
      <li><a>B2B Seervices</a></li>
      <li><a>API Services</a></li>
      <li><a>Strategic Partnerships</a></li>
      <li><a>Projects</a></li>
    </ul>
  </div>
</div>
