.font-roboto {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.font-oswald {
  font-family: "Oswald", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.half-width {
  width: 75%;
}

html,
body {
  min-height: 90vh;
}

.foot {
  display: block;
  position: relative;
  width: 100%;
  bottom: 0;
  padding: 0;
  margin: 0;
  margin-top: 50px;
}
